apiVersion: apps/v1
kind: Deployment
metadata:
  name: web-deployment
  labels:
    app: counter-app
spec:
  selector:
    matchLabels:
      app: counter-app
  replicas: 1
  template:
    metadata:
      labels:
        app: counter-app
    spec:
      containers:
        - name: flask
          image: galhalevi/counter-app:1.2
          ports:
            - containerPort: 5000
          envFrom:
            - configMapRef:
                name: counter-app-config
            - secretRef:
                name: counter-app-secret
          livenessProbe:
            httpGet:
              path: /healthz
              port: 5000
            initialDelaySeconds: 5
            periodSeconds: 5
            failureThreshold: 3
          readinessProbe:
            httpGet:
              path: /readyz
              port: 5000
            initialDelaySeconds: 3
            periodSeconds: 5
            failureThreshold: 3

